.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
}

.game-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-main-page {
  text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
  border: 1px solid #ccc;
  padding: 5px;
  width: 420px;
  height: 20px;
}

.plataforms {
  display: flex;
}

.search-input {
  border: 1px solid #ccc;
  padding: 5px;
}

.top-page-community {
  justify-content: center;
  align-items: center;
  font-size: 40px; 
}

.top-page-games {
  justify-content: center;
  align-items: center;
  font-size: 40px; 
}

.top-games-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.games-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100vh;
}

.game-main {
  flex: 2;
}

.game-secondary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
