.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  background-color: white;
  height: 8vh;
  width: 100vw;
  top: 0px;
  left: 0px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
}

.game-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-main-page {
  text-align: center;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 700px;
  height: 20px;
}

.pesquisar{
  margin: 50px;
  background-color: blue;
  height: 80px;
  width: 800px;
}

.plataforms {
  display: flex;
}

.search-input {
  border: 1px solid #ccc;
  padding: 5px;
}

.top-page-community {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  gap: 10px;
}

.top-page-games {
  justify-content: center;
  align-items: center;
  font-size: 40px; 
}

.top-games-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.games-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  display: inline-flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100vh;
}

.game-main {
  flex: 2;
}

.game-secondary {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.icon-shopping-cart {
  height:66.6666px; 
  width: 66.6666px; 
  background-color: #00FF73; 
  position: fixed; 
  border-style: solid; 
  border-width: 2px;
  border-radius: 90%;
  top: 480px;
  left: 1150px;
}

#car {
  height: 32px;
  position: relative;
  top: 17.3333px;
  left: 17.3333px;
}

a {
  text-decoration: none;
  color: black;
}

.posts{
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.post{
  background-color: aqua; 
  height: 300px; 
  width: 300px;
  padding: 15px;
  border-radius: 10%;
}

.top{
  text-align: center;
}

#teste{
  background-color: whitesmoke;
  width: 20px;
  height: 20px;
}